{% extends 'base.html' %}
{% block auth %}
    {% load mathfilters %}
    <div class="container mt-5 mb-5">
        <h1><b>{{ t.subject }}</b></h1>

        <div class="row mt-5">
            <div class="col-lg-8">
                <textarea class="form-control" style="height: 250px; font-size: 20px;" disabled>{{ t.content }}</textarea>
            </div>
            <div class="col-lg-4 text-center">
                <img src="{{ t.maker.getpic }}" width="100%">
                <h4 class="mt-3 mb-3">written by <b>{{ t.maker }}</b></h4>
                <div class="text-end">
                    {{ t.pubdate|date:'Y년 n월 j일 H:i' }}
                </div>
            </div>
        </div>


        {% if user in t.voter.all %}

            <div class="row mt-5">
                {% for i in cset %}
                    <div class="col-lg-3 text-center">
                        <div class="progress mb-3">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{i.choicer.count|div:t.voter.count|mul:100}}%">{{ i.choicer.count|div:t.voter.count|mul:100}}%</div>
                        </div>
                        <img src="{{ i.pic.url }}" width="100%">
                        <h5 class="mt-3 md-3"><b>{{ i.name }}</b></h5>
                        <textarea class="form_control" disabled>{{ i.con }}</textarea>
                    </div>                
                {% endfor %}             
                
            </div>       
    

        <div class="text-end mt-4 text-center">
            <a class="btn btn-danger btn-lag" href="{% url 'vote:cancel' t.id %}">취소하기</a>
        </div>
        {% else %}
            <form method="post" action="{% url 'vote:vote' t.id %}">
                {% csrf_token %}
                <div class="row mt-5">
                    {% for i in cset %}

                        <div class="col-lg-3 text-center">
                            <input class="form-check-input" type="radio" {% if forloop.first %} checked {% endif %} name="cho" value="{{ i.id }}">
                            <img src="{{ i.pic.url }}" width="100%">
                            <h5 class="mt-3 md-3"><b>{{ i.name }}</b></h5>
                            <textarea class="form_control" disabled>{{ i.con }}</textarea>
                        </div>                
                    {% endfor %}             
                    
                </div>       
            

                <div class="text-end mt-4">
                    <button class="btn btn-dark btn-lag">투표하기</button>
                </div>
            </form>
        {% endif %}
        
    </div>

{% endblock %}